<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
{% with message = get_flashed_messages() %}
                    <p>{{ message[0] }}</p>
      {% endwith %}
    <form action="http://127.0.0.1:5000/admin/dashboard" method="post">
        <p>Username<input type="text" name="username"></p>
        <p>Password<input type="password" name='password'></p>
        <input type="submit">
    </form>
</body>
</html>