<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Slots</title>
</head>
<body>
    <form action="http://127.0.0.1:5000/member/dashboard/booking_ondate/booking_confirm" method="post">
        {% for key in date %}
        <input type="text" value='{{key}}' name="date" >
        {% endfor %}

        {% for key in available_slots %}
        <p>{{key}}<input type="radio" value="{{key}}" name='time'></p>
        {% endfor %}
        <input type="submit">
    </form>
</body>
</html>